/*container*/
#wpwrap{
	width: 1160px;
	margin: 0 auto;
}

/*menu mod*/

#wp-admin-bar-wp-logo, #wp-admin-bar-my-sites, #wp-admin-bar-new-content{
	display: none;
}
#adminmenuwrap #adminmenu .wp-menu-arrow{
    display: none;
}
 
#wpcontent, #footer {
    margin-left: 15px;
}

#wpbody-content {
    margin: 10px 20px 20px 20px;
    padding-top: 15px;
    width: 90%;

}

#screen-meta{
	display: none;
}

#screen-meta-links {
	display: none;
}

#adminmenuback {
    width: 100%;
    position: absolute;
    top: 10px;
    height: 50px;
    display: none;

}

/*adminmenuwrap hidden elements*/
#collapse-menu, #adminmenushadow{
	display: none !important;
}

#adminmenuwrap {
    width: 99.9%;
    float: left;
    z-index: 10;
    padding-bottom: 0px;
    margin-right: -2px;
    background-color: #FFFFFF; 
    border-style: none;
}

#adminmenuwrap{
    width: 100%;
}

#adminmenu{
	width: 100%;
	margin-top: 30px;
}

#adminmenuwrap #adminmenu li {
    float: left;
    display: block;
    width: auto;
    position: static;
}

#adminmenuwrap #adminmenu li .wp-menu-image {
    margin: 0px auto;
    float: none;
    overflow: hidden;
}

#adminmenu a.menu-top {
    min-width: 1px !important;
    clear: both;
    padding: 10px 20px;
    font-size: 30px;
}

#adminmenuwrap #adminmenu li .wp-menu-image {
	background: none;
	display: none;
	height: 0px;
}

#adminmenuwrap #adminmenu .wp-submenu {
    position: absolute;
    width: 96%;
    background: #6d6d6d;
    top: auto;
    left: 40px;
    bottom: 0px;
    float: left;
}

#adminmenuwrap #adminmenu .wp-submenu ul {
    float: left;
    background: none;
    padding: 2px 1px 0 1px;
}

#adminmenuwrap #adminmenu .wp-has-current-submenu .wp-submenu {
    z-index: 1;
}

#adminmenuwrap #adminmenu .wp-submenu.sub-open {
    z-index: 2;
    background: #333;
}

#adminmenu .wp-submenu .wp-submenu-wrap {

    width: 100% !important;
}

#adminmenu .wp-submenu .wp-submenu-wrap li {

    margin: 0px;
}

#adminmenu .wp-submenu .wp-submenu-wrap li {
    padding: 3px 15px;
}

#adminmenu .wp-submenu .wp-submenu-wrap li:hover {
    background: #7b7b7b;
}

#adminmenu .wp-submenu .wp-submenu-wrap li.current {
    background: #fff;

}

#adminmenu  .wp-has-current-submenu .wp-submenu .wp-submenu-wrap li a {
    color: #fff;
    background: none;
    padding: 3px 0px;
}

#adminmenu .wp-submenu .wp-submenu-wrap li.wp-menu-open a {
    color: #fff;
    background: none;
    display: block;
    padding: 3px 0px;
    width: 100%;
    text-align: center;
}

#adminmenu .wp-submenu .wp-submenu-wrap li.current a {
    color: #333;
    background: none;
    padding: 3px 0px;

}

/*menu plugin mod*/
#adminmenu #menu-plugins .update-plugins {
    margin-top: -30px;
    margin-left: -5px;
}

/*hover-efect*/
#adminmenuwrap #adminmenu li.menu-top:hover, #adminmenuwrap #adminmenu li.menu-top.wp-hover-menu {
    position: relative;
    overflow: visible;
}

#adminmenuwrap #adminmenu li.wp-menu-open:hover, #adminmenuwrap #adminmenu li.wp-menu-open.wp-hover-menu {
    position: static;
}

#adminmenuwrap #adminmenu li.menu-top:hover .wp-submenu, #adminmenuwrap #adminmenu li.menu-top.wp-hover-menu .wp-submenu {
    left: 100%;
    top: 20px;
    bottom: auto;
}

#adminmenuwrap #adminmenu li.menu-top:hover .wp-submenu li, #adminmenuwrap #adminmenu li.menu-top.wp-hover-menu .wp-submenu li {
    clear: both;
    float: left;
}

#adminmenuwrap #adminmenu li.wp-menu-open:hover .wp-submenu, #adminmenuwrap #adminmenu li.wp-menu-open.wp-hover-menu .wp-submenu {
    left: 40px;
    top: auto;
    bottom: 0px;
}

#adminmenuwrap #adminmenu li.wp-menu-open:hover .wp-submenu li, #adminmenuwrap #adminmenu li.wp-menu-open.wp-hover-menu .wp-submenu li {
    clear: none;
    float: left;
}

#adminmenuwrap #adminmenu li.wp-not-current-submenu:hover .wp-submenu, #adminmenuwrap #adminmenu li.wp-not-current-submenu.wp-hover-menu .wp-submenu {
    width: 140px;
    padding: 0px;
}

#adminmenuwrap #adminmenu li.wp-not-current-submenu:hover .wp-submenu, #adminmenuwrap #adminmenu li.wp-not-current-submenu.wp-hover-menu .wp-submenu {
    width: 140px;
    padding: 0px;
}

#adminmenuwrap #adminmenu li.wp-not-current-submenu:hover .wp-submenu .wp-submenu-wrap, #adminmenuwrap #adminmenu li.wp-not-current-submenu.wp-hover-menu .wp-submenu .wp-submenu-wrap {
    float: left;
    background: none;
    border: none;
    margin: 0px;

}

#adminmenuwrap #adminmenu li.wp-not-current-submenu:hover .wp-submenu ul li, #adminmenuwrap #adminmenu li.wp-not-current-submenu.wp-hover-menu .wp-submenu ul li {

    padding: 0px;
}

#adminmenuwrap #adminmenu li.wp-not-current-submenu:hover .wp-submenu ul li a, #adminmenuwrap #adminmenu li.wp-not-current-submenu.wp-hover-menu .wp-submenu ul li a {
    padding: 2px 10px;
    width: 120px;
    color: #fff;
}

#adminmenuwrap #adminmenu li.wp-not-current-submenu:hover .wp-submenu ul li a:hover, #adminmenuwrap #adminmenu li.wp-not-current-submenu.wp-hover-menu .wp-submenu ul li a:hover {

    color: #21759B;
}

/*dashboard box*/

.statistic-list {
    background: #F2F2F2;
    -moz-box-sizing: content-box;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB;
    padding: 15px;
    float: left;
    margin-right: 15px;
}

.statistic-list li {
    float: left;
    padding: 10px 20px;
    border-right: 1px solid #BBBBBB;
}

.statistic-list li:last-child {
    border: none;
}

.statistic-list li p {
    clear: both;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

/*post list*/
.page-list-box {
    overflow: hidden;
    background: #fff;
    -moz-box-sizing: content-box;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB;
    padding: 15px;
}

.page-list-box h5 {
    font-size: 12px;
    margin: 0px;
}

.post-list {
    float: left;
}

.menu-buttons {
    clear: both;

}

.menu-buttons li {
    margin-bottom: 15px;
    clear: both;

}

/*apperance*/
#short-menu-list {
    clear: both;
}

#short-menu-list li {
    background: #fff;
    -moz-box-sizing: content-box;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB;
    width: 100px;
    float: left;
    height: 100px;
    margin: 5px;

}

#short-menu-list li a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    text-align: center;
}

#short-menu-list #short-menu-link {
    background: #fff url('images/Database.png') no-repeat center 30px;

}

#short-menu-list #short-widget-link {
    background: #fff url('images/widget.png') no-repeat center 30px;

}

#short-menu-list #short-theme-link {
    background: #fff url('images/theme.png') no-repeat center 30px;

}

#footer-upgrade{
	display: none;
}

/*theme page*/
#current-theme img{
	margin-left: 0px;
}
