/*container*/

html{
	background: #FCFAF3 url('images/bg-site.png') repeat top left;
}

body{
	background: transparent url('images/bg-watermark.png') no-repeat center top;
}

#wpwrap{
	width: 1160px;
	margin: 0 auto;
}

#admin-branding-logo{
	float: left;
	padding-left: 15px;
}
#admin-branding-meta{
	float: right;
	font-size: 15px;
	margin-top: 15px;
}
#admin-branding-meta a{
	padding: 0px 10px;	
	font-family: "Arial Black";
}
#admin-branding-meta-profile{
	display: inline;
	position: relative;
}
#admin-branding-meta-profile:hover{
	display: inline;
}
#admin-branding-meta-profile ul{
	display: none;
}
#admin-branding-meta-profile:hover ul{
	display: block;
	position: absolute;
}

/*menu mod*/
#adminmenuwrap{
	display: none;
}
 
#wpcontent{
	clear: both;
}
 
#wpcontent, #footer {
    margin-left: 0px;
}

#wpbody{
	clear: both;
}

#wpbody-content {
    margin: 10px 20px 20px 20px;
    width: 90%;
}

#adminmenuback {
    display: none;
}

#admin-menu-container{
	margin: 0 auto;
	width: 700px;
}

#admin-menu-container ul{
	list-style: none;
	overflow: hidden;
}

#admin-menu-container ul li{
	float: left;
	text-align: center;
}

#admin-menu-container ul li a{
	font-size: 2em;
	height: 110px;
	width: 140px;
	display: block;
	background-image: url("images/user-admin-nav.png");
}

#admin-menu-container ul li.admin-menu-dashboard a{
	 background-position: 0px 0px;
}

#admin-menu-container ul li.admin-menu-dashboard a:hover, #admin-menu-container ul li.admin-menu-dashboard a.current{
	 background-position: 0px -110px;
}
/*menu-page*/
#admin-menu-container ul li.admin-menu-page a{
	 background-position: -140px 0px;
}
#admin-menu-container ul li.admin-menu-page a:hover, #admin-menu-container ul li.admin-menu-page a.current{
	 background-position: -140px -110px;
}
/*menu-comments*/
#admin-menu-container ul li.admin-menu-comment a{
	 background-position: -280px 0px;
}
#admin-menu-container ul li.admin-menu-comment a:hover, #admin-menu-container ul li.admin-menu-comment a.current{
	 background-position: -280px -110px;
}
/*menu-theme*/
#admin-menu-container ul li.admin-menu-theme a{
	 background-position: -420px 0px;
}
#admin-menu-container ul li.admin-menu-theme a:hover, #admin-menu-container ul li.admin-menu-theme a.current{
	 background-position: -420px -110px;
}
/*menu-settings*/
#admin-menu-container ul li.admin-menu-settings a{
	 background-position: -560px 0px;
}
#admin-menu-container ul li.admin-menu-settings a:hover, #admin-menu-container ul li.admin-menu-settings a.current{
	 background-position: -560px -110px;
}
 

/*dashboard box*/

.statistic-list {
    background: #F2F2F2;
    -moz-box-sizing: content-box;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB;
    padding: 15px;
    float: left;
    margin-right: 15px;
}

.statistic-list li {
    float: left;
    padding: 10px 20px;
    border-right: 1px solid #BBBBBB;
}

.statistic-list li:last-child {
    border: none;
}

.statistic-list li p {
    clear: both;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

/*post list*/
.page-list-box {
    overflow: hidden;
    background: #fff;
    -moz-box-sizing: content-box;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB;
    padding: 15px;
}

.page-list-box h5 {
    font-size: 12px;
    margin: 0px;
}

.post-list {
    float: left;
}

.menu-buttons {
    clear: both;

}

.menu-buttons li {
    margin-bottom: 15px;
    clear: both;

}

/*apperance*/
#short-menu-list {
    clear: both;
}

#short-menu-list li {
    background: #fff;
    -moz-box-sizing: content-box;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB;
    width: 100px;
    float: left;
    height: 100px;
    margin: 5px;

}

#short-menu-list li a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    text-align: center;
}

#short-menu-list #short-menu-link {
    background: #fff url('images/Database.png') no-repeat center 30px;

}

#short-menu-list #short-widget-link {
    background: #fff url('images/widget.png') no-repeat center 30px;

}

#short-menu-list #short-theme-link {
    background: #fff url('images/theme.png') no-repeat center 30px;

}

#footer-upgrade{
	display: none;
}

/*theme page*/
#current-theme img{
	margin-left: 0px;
}

#current-theme.has-screenshot{
	padding-left: 0px;
}

#current-theme > a:first-child > img{
	margin-right: 30px;
}

#filter-click{
	display: none;
}

#current-theme > form{
	margin-top: 20px;
}
